<ion-toolbar>
    <ion-buttons slot="end">
        <ion-button color="primary" routerLink="/login/signup">Registrate</ion-button>
    </ion-buttons>
</ion-toolbar>


<ion-content>
    <div id="header">
        <h1>RegistrApp</h1>
        <img src="../../assets/img/logoApp2.png" alt="">
    </div>

    <div id="form">
        <ion-item class="ion-margin-bottom">
            <ion-input placeholder="Usuario" [type]="type" [(ngModel)]="user.usuario"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom">
            <ion-input placeholder="Contraseña" type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>

        <ion-button (click)="ingresar()" expand="block" shape="round"> Ingresar </ion-button>
    </div>
</ion-content>