
	<ion-toolbar>
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/signup">Sign Up</ion-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="../../assets/img/logoApp2.png" alt="">
  </div>
  <form id="form">
    <app-input type="text" placeholder="Username"></app-input>
    <app-input type="Password" placeholder="Password"></app-input>
    <ion-button routerLink="/home" expand="block" shape="round"> Login </ion-button>
  </form>
</ion-content>

