<ion-toolbar>
    <ion-buttons slot="start">

    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button color="primary" routerLink="/login/signup">Sign Up</ion-button>
    </ion-buttons>
</ion-toolbar>


<ion-content>
    <div id="header">
        <h1>Login</h1>
        <img src="../../assets/img/logoApp2.png" alt="">
    </div>


    <ion-card-content>
        <ion-item lines="full">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button expand="full" (click)="ingresar()">Ingresar</ion-button>
            </ion-col>
        </ion-row>
    </ion-card-content>

</ion-content>