<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/login">Ingresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Registro De<br />Usuario</h1>

  <div id="form">
    <ion-item class="ion-margin-bottom">
      <ion-input placeholder="Usuario" [type]="type"></ion-input> 
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input placeholder="Confirmar Contraseña" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" shape="round" routerLink="/login">Registo</ion-button>
  </div>

  <p>Al oprimir 'Registro' estas aceptando <br />nuestros terminos y condiciones.</p>
</ion-content>