<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Create new account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="danger">
    <ion-item color="danger">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario.name" type="text" required></ion-input>
    </ion-item>
    <ion-item color="danger">
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input [(ngModel)]="usuario.user" type="text" required></ion-input>
    </ion-item>
    <ion-item color="danger">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="usuario.password" type="password" required></ion-input>
    </ion-item>

    <ion-item color="danger">
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input [(ngModel)]="usuario.confirm_password" type="password" required></ion-input>
    </ion-item>

    <ion-button class="ion-margin-top" type="submit" expand="block" color="light" (click)="onSubmit()">
        Create Account
    </ion-button>

    <ion-item color="danger" class="ion-text-center">
        <ion-label>Or</ion-label>
    </ion-item>

    <ion-button color="dark" expand="block" fill="outline" [routerLink]="['/login']">Login</ion-button>
</ion-content>